<IfModule mod_deflate.c>
    SetEnvIfNoCase Request_URI "\.json$" no-gzip dont-vary
</IfModule>

<IfModule mod_headers.c>
    Header set Cache-Control "no-cache, no-store, must-revalidate"
</IfModule>